<div class="left-menu-wrap">
    <div class="container">
        <div id="myDIV" class="user-render">
            <app-user-menu></app-user-menu>
        </div>
        <div class="workplace-render">
            <app-workplace-menu></app-workplace-menu>
        </div>

    </div>
    <!-- (workplaceSelected)="selectWP()" -->

    <!-- <div class="accordion" id="accordionPanelsStayOpenExample" *ngFor=" let menu of uSerMenus">
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                    aria-controls="panelsStayOpen-collapseOne">
                    {{menu.name}}
                </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">
                    test
                </div>
            </div>
        </div>
    </div>
 -->




    <!-- <div class="ng-wrap">
        <ngb-accordion #acc="ngbAccordion">
            <ngb-panel class="menu" id="toggle-{{menu.id}}" title="{{menu.name}}" *ngFor=" let menu of uSerMenus">
                <ng-template ngbPanelContent>
                    <div class="sub-menu" *ngFor="let s of menu.sub">
                        <a href="#">{{s}}</a>
                    </div>

                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div> -->