<div class="content-wrap">
    <div class="menu-wrap">
        <ul id="myUL">
            <li><span><a href="#Commonly Used">Commonly Used</a></span>
            <li><span class="caret"><a href="#">Text Editor</a></span>
                <ul class="nested">
                    <li><a href="#Cursor">Cursor</a></li>
                    <li><a href="#Find">Find</a></li>
                    <li><a href="#Font">Font</a></li>
                    <li><a href="#Formatting">Formatting</a></li>
                    <li><a href="#Diff Editor">Diff Editor</a></li>
                    <li><a href="#Minimap">Minimap</a></li>
                    <li><a href="#Suggestions">Suggestions</a></li>
                    <li><a href="#Files">Files</a></li>
                </ul>
            </li>
            <li><span class="caret"><a href="#Workbench">Workbench</a></span>
                <ul class="nested">
                    <li><a href="#Appearance">Appearance</a></li>
                    <li><a href="#Breadcrumbs">Breadcrumbs</a></li>
                    <li><a href="#Editor Management">Editor Management</a></li>
                    <li><a href="#Settings Editor">Settings Editor</a></li>
                    <li><a href="#Zen Mode">Zen Mode</a></li>
                    <li><a href="#Screencast Mode">Screencast Mode</a></li>
                </ul>
            </li>
            <li><span class="caret"><a href="#Window">Window</a></span>
                <ul class="nested">
                    <li><a href="#Window">Window</a></li>
                </ul>
            </li>
            <li><span class="caret"><a href="#Features">Features</a></span>
                <ul class="nested">
                    <li><a href="#Explorer">Explorer</a></li>
                    <li><a href="#Search">Search</a></li>
                    <li><a href="#Debug">Debug</a></li>
                    <li><a href="#Testing">Testing</a></li>
                    <li><a href="#SCM">SCM</a></li>
                    <li><a href="#Extensions">Extensions</a></li>
                </ul>
            </li>
            <li><span class="caret"><a href="#Application">Application</a></span>
                <ul class="nested">
                    <li><a href="#Proxy">Proxy</a></li>
                    <li><a href="#Keyboard">Keyboard</a></li>
                    <li><a href="#Update">Update</a></li>
                    <li><a href="#Telemetry">Telemetry</a></li>
                    <li><a href="#Setting Sync">Setting Sync</a></li>
                </ul>

            </li>

            <li>
                <span class="caret"><a href="#Extensions">Extensions</a></span>
                <ul class="nested">
                    <li><a href="#CSS">CSS</a></li>
                    <li><a href="#Emmet">Emmet</a></li>
                    <li><a href="#ESLing">ESLing</a></li>
                </ul>

            </li>

        </ul>
    </div>
</div>