@import 'bootstrap/dist/css/bootstrap.css';
body {
    margin: auto;
}
.top-wrap {
    margin:auto;
    width: 60%;
    border-bottom: solid 1px #065a82;
}

.container {
    width: 100%;
    display: flex;
    padding-top: 25px;
    margin:auto;
    width: 60%;
}

.row {
    width: 100%;
}
.col-9 {
    height: 650px;
    overflow: scroll;
}
